.provider-card__container {
    padding-bottom: 80px;
}

.provider-card__title {
    @include text-head;
    font-weight: 700;
    padding-bottom: 68px;

    @include media-phone {
        @include text-title;
        padding-bottom: 20px;
    }
}

.provider-card__title-inline  {
    @include text-gradient;
}

.provider-card__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;

    @include media-tablet {
        gap: 25px; 
        justify-content: space-evenly;
    }
}

.provider-card__cards-item {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 18px;

    @include media-tablet { 
        width: auto;
    }

    @include media-phone {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }
}

.provider-card__card-img {
    width: 92px;
    height: 92px;

    @include media-phone {
        width: 64px; 
    }
}

.provider-card__card-subtitle {
    color: var(--color-active-regular);
    @include text-subheader;
    font-weight: 600;

    @include media-phone {
        @include text-small;
        width: 260px;
    }
}

.provider-card__card-text {
    @include text-body;
    color: var(--color-white);

    @include media-phone {
        @include paragraph-min;
    }
}