.experience-services {
    padding-bottom: 20px;
    position: relative;

    &::before {
        content: '';
        display: block;
        background-color: #CACADB;
        position: absolute;
        bottom: 10px;
        height: 10px;
        width: calc(100% - 40px);
        left: 20px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    &::after {
        content: '';
        display: block;
        background-color: #E7E7F2;
        position: absolute;
        bottom: 0;
        height: 10px;
        width: calc(100% - 80px);
        left: 40px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

.experience-services__wrapper {
    color: var(--color-white);
    background-image: var(--color-supersoft);
    padding-top: #{$padding-section}px;
    padding-bottom: #{$padding-section}px;
    border-radius: 0px 0px 12px 12px;
}

.experience__container{
    display: flex;
    width: 1200px;
    gap:40px;
    padding-bottom: #{$padding-section}px;
}

.experience__characteristics {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience__title {
    @include text-head;
    color: var(--color-grey-text);
    font-weight: 700;  
    text-align: right;

    &:hover {
        @include text-gradient;
         cursor: default;
     }
}


.experience__red-scale {
    transform: translate(14277%);
    position: absolute;
}

.experience__characteristics-content {
    display: flex;
    width: 650px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.experience__subtitle {
    @include text-title;
    font-weight: 600;
}

.experience__text {
    @include text-introduction;
    font-weight: 400;
}


.services__topic-link {
    @include section-topic;
    opacity: 50%;
}

.services__title {
    @include text-head;
    font-weight: 700;
    padding-bottom: 68px;
}

.services__title-inline  {
    @include text-gradient;
}

.services__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.services__cards-item {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 18px;
}

.services__card-img {
    width: 92px;
    height: 92px;
}

.services__card-subtitle {
    color: var(--color-active-regular);
    @include text-subheader;
    font-weight: 600;
}

.services__card-text {
    @include text-body;
}