.experience-services {
    padding-bottom: 20px;
    position: relative;

    &::before {
        content: '';
        display: block;
        background-color: #CACADB;
        position: absolute;
        bottom: 10px;
        height: 10px;
        width: calc(100% - 40px);
        left: 20px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    &::after {
        content: '';
        display: block;
        background-color: #E7E7F2;
        position: absolute;
        bottom: 0;
        height: 10px;
        width: calc(100% - 80px);
        left: 40px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

.experience-services__wrapper {
    color: var(--color-white);
    background-image: var(--color-supersoft);
    padding-top: #{$padding-section}px;
    padding-bottom: #{$padding-section}px;
    border-radius: 0px 0px 12px 12px;

    @include media-phone {
        padding-top: 20px;
    }
}

.experience__container {
    display: flex;
    width: 1200px;
    gap:40px;
    padding-bottom: 80px;

    @include media-phone {
        width: 85%;
        flex-direction: column;
        gap:13px;
        padding-bottom: 45px;
    }
}

.experience__dots-group { 
    display: none;

    @include media-phone {
        @include dots-menu;
        padding-top: 20px;
    }
}



.experience__characteristics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-right: 4px solid var(--color-white);
    padding:40px;
    height: 303px;
    
    @include media-phone {
        display: block;
        height: auto;
        padding: 0px;
        border:none;
    }  
}

.experience__characteristics-item:nth-child(n+2) {
    @include media-phone {
        display: none;
    }
}

.experience__title {
    @include text-head;
    color: var(--color-grey-text);
    font-weight: 700;  
    text-align: right;
    padding-right:40px;
    border-right: 4px solid transparent;
    transform: translate(44.4px);

    &:hover {
        @include text-gradient;
         cursor: default;
         border-right-color: var(--color-accent);
     }

     @include media-phone {
        text-align: left;
        transform: none;
        border: none;
        @include text-caption;
        letter-spacing: 1px;
        @include text-gradient;
        width: 35%;
     }
}

.experience__characteristics-content {
    display: flex;
    width: 650px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    @include media-phone {
        width: auto;
        gap: 15px;
     }
}

.experience__subtitle {
    @include text-title;
    font-weight: 600;

    @include media-phone {
       font-size: 2.2rem;
       line-height: (25/22);
     }
}

.experience__text {
    @include text-introduction;
    font-weight: 400;

    @include media-phone {
        @include text-body;
    }
}


.services__topic-link {
    @include section-topic;
    opacity: 50%;
}

.services__title {
    @include text-head;
    font-weight: 700;
    padding-bottom: 68px;

    @include media-phone {
        @include text-title;
        padding-bottom: 20px;
    }
}

.services__title-inline  {
    @include text-gradient;
}

.services__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.services__cards-item {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 18px;

    @include media-phone {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }
}

.services__card-img {
    width: 92px;
    height: 92px;

    @include media-phone {
        width: 64px; 
    }
}

.services__card-subtitle {
    color: var(--color-active-regular);
    @include text-subheader;
    font-weight: 600;

    @include media-phone {
        @include text-small;
        width: 260px;
    }
}

.services__card-text {
    @include text-body;

    @include media-phone {
        @include paragraph-min;
    }
}