.footer {
    background-color: var(--color-grey-bg);
}

.footer__container {
    padding-top: 34px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    border-top: 4px solid var(--color-grey-separator);

    @include media-phone {
        flex-direction: column;
        align-items: center;
    }
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 31px;

    @include media-phone {
        flex-direction: column; 
        align-items: center; 
        gap: 20px;
    }
}

.footer__location {
    display: flex;
    gap: 13px;
    align-items: baseline;

    @include media-phone {
        flex-direction: column;
        align-items: center;  
        gap: 8px;
    }
}

.footer__adress {
    font-weight: 400;
    @include paragraph-min;
    color: var(--color-main);
    
    
  &::after {
        @include circle;
        background-color: var(--color-grey-text);
        margin-left: 18px;

        @include media-phone {
            display: none; 
            align-items: center; 
        } 
     } 

     @include media-phone {
         font-weight: bold;
     }
}

.footer__map {
    font-weight: bold;
    color: var(--color-active-regular);
    @include text-caption;
    letter-spacing: 1px;
    @include hover-accent-text;
}

.footer__contacts {
    display: flex;
    gap: 10px;
    align-items: baseline;

    @include media-phone {
        flex-direction: column; 
        align-items: center;
        gap: 20px;
    }
}


.footer__fb-link {
    &::after {
        @include circle;
        background-color: var(--color-grey-text);
        margin-left: 10px;

        @include media-phone {
            display: none;  
        }    
    }

    .footer__fb-logo-hover {
        display: none;
    }

    &:hover {
        .footer__fb-logo-hover {
            display: inline;
        }
        .footer__fb-logo {
            display: none;
        }
    }
}

.footer__number {
    @include paragraph-min;
    color: var(--color-alternative);
    font-weight: bold;

    &::after {
        @include circle;
        background-color: var(--color-grey-text);
        margin-left: 10px;

        @include media-phone {
            display: none;  
        } 
    }
}

.footer__mail {
    font-weight: bold;
    color: var(--color-active-regular);
    @include paragraph-min;
    @include hover-accent-text;
}

.footer__company {
    @include paragraph-min;
    color: var(--color-grey-text);

    @include media-phone {
        padding-top: 20px;  
        text-align: center;
    } 
}