.hero {
    min-height: 100vh;
    color: var(--color-white);
    background-image: var(--color-top-soft);
    display:flex;
    flex-direction: column;
    }

.hero__container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    flex-grow: 1;
}

.header__container {
    padding-top: #{$padding-page}px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation{
    display: flex;
    flex-direction: column;
    gap: 19px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: (14/12);
}

.header__options {
    display: flex;
    align-items: baseline;
    gap: 10px;   
}

.lang {
    display:flex;
}



.lang__input {
    -webkit-appearence: none;
    position:absolute;

    &:checked ~ .lang__txt {
        background-color: #F0145A;
    } 
}



.header__options-adress {
    font-weight: 400;
}

.header__list {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.hero-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), 
                        url("../img/ps_hero_background.svg"),
                        url("../img/p_hero_background.svg");
    background-repeat: no-repeat;
    background-position: bottom, top, center;
}




.hero-content__title {
    font-weight: 400;
    font-size: 3.8rem;
    line-height: (44/38);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    padding-top: 240px;
    padding-bottom: 290px;
}

.hero__scroller {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

