.hero {
    min-height: 100vh;
    color: var(--color-white);
    background-image: var(--color-top-soft);
    display:flex;
    flex-direction: column;
    }

.hero__container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    flex-grow: 1;
}

.header__container {
    padding-top: #{$padding-page}px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__block{
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.header__options {
    display: flex;
    align-items: baseline;
    gap: 10px; 
    font-weight: 700;
    @include text-nav;  
}

.header__options-item {
    display: flex;
    gap: 10px;

    &::after {
        @include circle;
        background-color: var(--color-grey-separator);
        align-self: center;
    }

    &:last-child::after{
        display: none;
    }
}

.lang__input {
    appearance: none;
    position:absolute;

    &:hover ~ .lang__txt {
        background-color: var(--color-grey-bg-alt);
        color:#B3B3BA;
        padding: 5px;
        border-radius: 8px;
    }

    &:checked ~ .lang__txt {
        background-color: var(--color-accent);
        padding: 5px;
        border-radius: 8px;
    } 
}

.lang__txt {
    @include text-caption;
    font-weight: bold;
    letter-spacing: 1px;
}

.header__options-adress {
    font-weight: 400;
}

.header__options-facebook-link {
    .header__facebook-img-hover {
        display: none;
    }

    &:hover {
        .header__facebook-img {
            display: none;
        }

        .header__facebook-img-hover {
            display: inline;
            width: 24px;
            height: 24px;
        }
    }
}

.header__list {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    @include text-small;
    font-weight: 600;
}

.header__list-item {
    @include hover-accent-text;
}

.hero-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), 
                        url("../img/p_hero_background.svg"),                  
                        url("../img/ps_hero_background.svg");
    background-repeat: no-repeat;
    background-position: bottom, center, top;
}

.hero-content__title {
    font-weight: 400;
    @include text-head;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    padding-top: 240px;
    padding-bottom: 290px;
}

.hero__scroller {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 40px;
}

