.comand__container {
    margin-top: 60px;
    margin-bottom: 41px;

    @include media-phone {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

.comand__card {
    background-color: #F5F5FA;
    border-radius: 12px;
    display: flex;
    gap: 40px;

    @include media-phone {
       flex-direction: column;
    }
}

.comand__img {

    @include media-tablet {
        height: 310px;
    }

    @include media-phone {
      display: none;
    }
}

.comand__content {
    padding-top: 40px;

    @include media-tablet {
        padding-right: 35px;
    }

    @include media-phone {
        padding: 20px;
      }
}

.comand__topic-link {
    @include section-topic;
    color: var(--color-active-regular);   
}

.comand__title {
    @include text-head;
    @include text-gradient;
    font-weight: bold;
    padding-bottom: 20px;

    @include media-tablet {
        @include text-title;
    }

    @include media-phone {
        @include text-title;
    }
}

.comand__img-wrapper {
    @include media-phone {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.comand__circle-img {
    display: none; 

    @include media-phone {
        display: flex;
    }
}

.comand__img-description {
    @include media-tablet {
        padding-bottom: 25px;
    }
}

.comand__text {
    color: var(--color-grey-text);
    @include text-small;
}

.comand__text--small {
    padding-top: 5px;
    font-size: 1.6rem;
    line-height: (22/16);
}

.comand__dots-group {
    @include dots-menu;
}





