.profile__container {
    display: flex;
    gap: 41px;
    padding-top: 82px;
    padding-bottom: 80px;

    @include media-tablet {
        flex-direction: column;
        padding-top: 20px;
        gap:20px;
        padding-bottom: 40px;
        align-items: center;

        @include media-phone {
            align-items: unset; 
        }
    }
}

.profile__image {
    border-radius: 12px;
    height: 500px;

    @include media-tablet {
        width: 400px;
    }

    @include media-phone {
        width: auto;
        height: auto;
    }
}

.profile__title {
    @include text-gradient;
    @include text-head;
    font-weight: bold;
    padding-bottom: 10px;

    @include media-phone {
        @include text-title;
    }

}

.profile__description {
    display: flex;
    gap: 10px;
    border-bottom: 4px solid #E6E6F0;
    padding-bottom: 20px;

    @include media-phone {
        flex-direction: column;
    }
}

.profile__descrip-item {
    @include paragraph-min;
    color: var(--color-active-regular);

    &:nth-child(1) {
        color: var(--color-grey-text);
    }

    &::after {
        @include circle;
        background-color: var(--color-grey-separator);
        margin-left: 10px;

        @include media-phone {
            display: none;
        }
    }

    &:nth-child(3)::after {
        display: none; 
     }

}

.profile__initial-text {
  padding-top: 25px;
}

.profile__text {
    @include text-body;
}

.profile__subtitle {
    @include text-caption;
    letter-spacing: 1px;
    color: var(--color-main);
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 10px;

    @include media-phone {
        padding-top: 20px;
    }
}
