@mixin text-head {
    font-size: 4.2rem;
    line-height: (50/42);
}

@mixin text-title {
    font-size: 3.2rem;
    line-height: (37/32);
}

@mixin text-subheader {
    font-size: 2.4rem;
    line-height: (28/24);
}

@mixin text-caption {
    font-size: 1.4rem;
    line-height: (15/14);
    text-transform: uppercase;
}

@mixin text-nav {
    font-size: 1.4rem;
    line-height: (15/14);
}

@mixin text-small {
    font-size: 1.8rem;
    line-height: (21/18);
}

@mixin text-body {
    font-size: 1.8rem;
    line-height: (26/18);
}

@mixin text-introduction {
    font-size: 2.1rem;
    line-height: (30/21);
}

@mixin paragraph-min {
    font-size: 1.6rem;
    line-height: (22/16);
}


@mixin text-gradient {
    background: var(--color-red-text);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}


@mixin section-topic {
    @include text-caption;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    padding-bottom: 3px;

    i {
        border: solid;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    
    .topic-arrow-right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}

@mixin circle {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

@mixin dots-menu {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 14px;

    .dot {
        border: 8px solid var(--color-active-regular);
        border-radius: 50%;
        align-self: center;
        opacity: 0.2;

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 1;
        }
    }
    }

@mixin hover-accent-text {
    &:hover {
        color: var(--color-accent);
    }
}

@mixin media-tablet {
    @media (max-width:1200px) {
        @content;
    }
}

@mixin media-phone {
    @media (max-width:767px) {
        @content;
    }
}