.about-service {
    padding-bottom: 100px;
    padding-top: 50px;

    @include media-phone {
        padding-bottom: 0px;
        padding-top: 0px;
    }
}

.about-service__container {
    display: flex;
    gap: 42px;
    align-items: baseline;

    @include media-phone {
       flex-direction: column;
       gap: 20px;
    }
}

.about-service__indication {
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media-phone {
        width: auto;
    }
}

.about-service__reach {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 20px;
    height: 307px;
    border-left: 4px solid var(--color-grey-separator);
    width: 412px;

    @include media-phone {
        width: auto;
        border-top: 4px solid var(--color-grey-separator);
        border-left: none;
        gap: 20px;
        height: auto;
        padding-bottom: 34px;
        padding-top: 15px;
    }
}

.about-service__wrapper {
    display: flex;
    gap: 11px;
    padding-bottom: 10px;
}

.about-service__title {
    @include text-head;
    @include text-gradient;
    font-weight: bold;

    @include media-phone {
        @include text-title; 
    }
}

.about-service__text {
    @include text-introduction;
    font-weight: 400;

    @include media-phone {
        @include text-body; 
    }
}

.about-service__reach-subtitle {
    @include text-title;
    @include text-gradient;
    font-weight: bold;
}

.about-service__reach-text {
    @include text-small;
    color: var(--color-main);
}